body {
  
  background-image: url("ad.jpg");
  background-color: aqua;
  margin: 0;
  font-family: 'Girassol', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 170%;
}

h1{
  font-family:'Girassol', cursive; 
}
.container{
  color:red;
  background-color: coral;
  border: 4px dotted blue; 
  font-size: 120%;
  
  
}